{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <script type="text/javascript" src="//use.typekit.net/ik/5gCTqJJa18bNT7DWqKcaHgmMaFRXJHl3LW7gLnzLb3qfezMffFHN4UJLFRbh52jhWDmRZe9hwcFcjhJawQZcw2M3wQq3Fc9DZs7FMPG0ZYm0ZkuKZAmXde90SaBujW48Sagyjh90jhNlOesudcSljcm8ieU8O1FUiABkZWF3jAF8OcFzdPUqiAo1jcm8ieU8SkoRdhX0jW9CdeNRjAUGdaFXOYiaikoqiAo1OA48ZWsCZPoDSWmyScmDSeBRZPoRdhXCiaiaOcsudciKZAmXdemDOcFzdPoyiPJwSY4zpe8ljPu0daZyJ68ciWsuScIlSYb7fbKzMsMMeMb6MKGHfO2IMsMMeM96MKG4fHXgIMMjgKMfH6qJK3IbMg6YJMJ7fbK3MsMMeMt6MKG4fJ3gIMMjIPMfH6qJy89bMs62JMJ7fbKImsMgeMb6MKG4fVN9IMIjgPMfH6qJt1qbMs6eJMJ7fbKgmsMgeMS6MKG4fJgmIMIj2kMfH6qJtaqbMs6bJMJ7fbKfmsMgegI6MTMgudYso39.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
